html, body {
    height: 100%;
    width: 100%;
}

html {
    overflow: scroll;
}

.wrapper-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
}

.product-card{
    display: flex;
    border: 2px solid black; 
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 0 1 18%;
    height: auto;
    max-width: 200px;
    padding: 5px;
    justify-content: baseline;
    margin-left: 10px;
    text-decoration: none;
}

.product-card img {
    width: 100%;
    height: auto;
    flex: 0 0.7 80%;
    min-height: 0;
    min-width: 0;
}

.product-card:hover {
    background-color: rgb(198, 198, 198);
}

@media (max-width: 800px) {
    .product-card{
        flex-direction: row;
        height: 20%;
        max-width: 80%;
        flex: 0 1 80%;
        justify-content: flex-start;
    }
    .product-card img {
        height: auto;
        flex: 0 0.4 20%;

        min-width: 0;
        min-height: 0;
    }
    .product-card * {
        margin: 6px;
    }
}

.pagination {
    display: inline-block;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}
  
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.gridbox {
    display: grid;
    column-gap: 20px;
}

.search-result {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.filter {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.buy-button {
    display: block;
    width: 95%;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    min-height: 50px;
    min-width: 150px;
    font-size: 1.3rem;
    border: 1px solid #333;
}