.sidebar-wrapper {
    display: none;
}

@media (min-width: 1024px) {
    .sidebar-wrapper {
        display: block;
        background: var(--scrolldarkbluegreen);
        position: sticky;
        top: 0;
        width: 15rem;
        padding:3rem;
        height: 100vh;
    }
    
    .sidebar-logo {
        height: 5rem;
        margin-bottom: 2rem;
    }
    
    .sidebar-link {
        display: flex;
        gap: 0.5rem;
        transition: all 0.3s linear;
        margin-top: 1rem;
    }
    
    .sidebar-link:hover {
        padding-left: 0.5rem;
    }
    
    .sidebar-link p {
        color: var(--white);
        text-decoration: none;
    }
    
    .sidebar-link svg {
        fill: var(--white);
        height: 1rem;
    }
}