
.wrapper2{
    max-width: 1160px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    /* gap: 10px; */
    /* border: 1px solid; */
    padding: 10px;
    /* width: 100%; */
}

.wrapper-small{
    width: 100%;
}

.detail{
    display: flex;
    flex-direction: column;
}

.wrapper-main{
    /* border: 1px solid; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
}

.leftbar-container{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}

.nav-containers{
    border: 1px solid;
    border-radius: 10px;
    margin-right: 30px;
    background-color: #ffffff;
    box-shadow: 2px 3px 3px 3px #007a6a;
    gap: 10px;
    
}

.box-container{
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
    padding: 30px;
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profilePicture{
    border: solid 5px var(--scrolldarkbluegreen);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.wrapper-column{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 3px #007a6a;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: auto;
    /* padding-right: 100px; */
}

.profile{
    /* border: 1px solid;
    border-radius: 10px; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items:center;
    /* border-bottom: 1px solid; */
}

/* .profile img{
    margin-left: 2rem;
    width: 80%;
    max-width: 100px;
    border: 0px;
    border-radius: 100%;
} */

.form{
    /* margin-left: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}


.login-header{
    /* position: relative;
    left: -400px;
    top: 15px; */
    margin-bottom: 20px;
    align-self: center;
    align-items: center;
    align-content: center;
}

.login-header img {
    margin-bottom: 1.5 rem;
    width: 50%;
    align-self: center;
}

.profile-form {
    /* border: 1px solid; */
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1rem;
}

.password-form {
    /* border: 1px solid; */
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1rem;
}

.form-group{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    margin-left: 2rem;
    gap: 0.5rem;
    margin-right: 2rem;
    width: 80%;
}

.form-group input {
    padding: 0.5rem 1rem;
    border-radius: 10px; /* Anda dapat menyesuaikan nilai ini sesuai dengan keinginan desain Anda */
    border: 1px solid; /* Anda dapat menambahkan border untuk tampilan yang lebih terdefinisi */
}

.form-button{
    align-self: center;
    margin-top: 2rem;
}

.form-button button{
    margin-top: 1rem;
    border-radius: 10px; /* Anda dapat menyesuaikan nilai ini sesuai dengan keinginan desain Anda */
    align-self: center;
}

.form-hyperlink{
    margin-top: 16px;
}

.form-hyperlink a{
    color: var(--white);
}

.alert-show{
    display: block;
    color: var(--red);
}

.alert-hide{
    display: none;
}

.button-tab {
    background-color: #007a6a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.button-tab.active {
    background-color: #005956;
}

.button-tab:hover {
    background-color: #005956;
}


@media screen and (max-width: 1140px) {
    .wrapper2{
        flex-direction: column;
        padding: 0;
        padding-left: 5%;
    }

    .leftbar-container{
        padding-bottom: 10%;
    }

    .wrapper-small{
        padding: 0;
    }
}
